body {
  margin: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
  background-position: right;
  background-size: 950px;
  background-repeat: no-repeat;
}

.main-container {
  display: grid;
  grid-template-columns: 28.5% 600px 33.5%;
  align-items: center;
  text-align: center;
}

.container-2 {
  width: 600px;
  display: grid;
  grid-template-columns: 300px 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px black;
  background-color: rgb(18, 75, 128);
  align-items: center;
  justify-items: stretch;
}

.sub-container-1 {
  color: black;
  height: 400px;
  background-image: url("/static/images/oziel-gomez-O255DOFraAc-unsplash.jpg");
  background-position: right;
  background-size: cover;
  border-radius: 10px;
  display: grid;
  justify-content: center;
}

.text {
  margin-top: 100px;
  width: 220px;
  line-height: 21px;
}

.sub-container-2 {
  display: grid;
  justify-content: center;
}

.inputs {
  width: 210px;
  border: none;
  padding: 0px;
}

.inputs::placeholder {
  color: white;
}

.inputs[type="text"],
[type="password"] {
  margin: 8px;
  padding: 8px 1px;
  border-bottom: 1px solid white;
  background-color: rgb(18, 75, 128);
  color: white;
}

.eye-icon {
  height: 15px;
  cursor: pointer;
}

.user-icon {
  margin-left: -48px;
  height: 16px;
  cursor: pointer;
}

.signUp-forget-box {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
}

.sign-up {
  color: white;
  font-size: x-small;
  text-align: right;
  margin-top: 0px;
}

.forget-password {
  color: white;
  font-size: x-small;
  text-align: right;
  margin-top: 0px;
}

.enter-button {
  width: 235px;
  margin-top: 35px;
  padding: 10px;
  border: 0.5px solid white;
  border-radius: 50px;
  color: rgb(18, 75, 128);
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, opacity 0.15s;
}

.enter-button:hover {
  background-color: rgba(206, 200, 231, 0);
  color: white;
  cursor: pointer;
}

.enter-button:active {
  opacity: 0.8;
}

/* .tooltip {
    position: absolute;
    display: none;
  }

  .inputs:focus + .tooltip {
    display: block;
  }

  .tooltiptext {
    visibility: visible;
    width: 200px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.3s;
  } */

.main-title-box {
  display: grid;
  justify-content: center;
  margin-bottom: 10px;
}

.sub-title-box {
  display: grid;
  width: 180px;
}

.wheelwise-logo {
  width: 160px;
  height: 80px;
  object-fit: cover;
}

.box-1 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  right: 24px;
  border-bottom: 1.5px solid white;
  border-right: 1.5px solid white;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  width: 160px;
}

.box-2 {
  position: absolute;
  bottom: -3px;
  left: 14px;
  width: 25px;
  height: 25px;
  border-top: 1.5px solid white;
  border-left: 1.5px solid white;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15px;
  align-items: last baseline;
  margin-bottom: 6px;
}

.social-icon-fiw {
  height: 15px;
  background-color: aliceblue;
  border-radius: 4px;
}

/* #passwordInfo {
  display: none;
  position: absolute;
  background-color: #f9f9f9d9;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  width: 400px;
} */
